# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Large Datasets & Media (Excludes raw/processed data from Git)
data/
preprocessed data/
stage_1_predictions/
database/
testing/
training/
training_stage_2/
data-exploration/
mlops-project/

# File types
*.npy
*.nii
*.nii.gz
*.png
*.jpg
*.jpeg
*.csv

# Environment & IDE
.env
.venv
env/
venv/
.vscode/
.idea/

# OS metadata
Thumbs.db
Desktop.ini
